@angular:registry=https://registry.npmjs.org/
@angular-cli:registry=https://registry.npmjs.org/
@ngtools:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
registry=http://prod.repo.internal.epo.org/nexus/content/groups/npm-development/
proxy=http://thproxylb.internal.epo.org:8080
https-proxy=http://thproxylb.internal.epo.org:8080
